h2.taskList {
    display: flex;
    justify-content: center;
    background-color: 	#4682b4;
    margin: 25px;
    box-shadow: 10px 10px;
}
p {
    display: flex;
    flex-direction: column;
    justify-content: center;
}