.countdown {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color:black;
    width: 90vw;
    height: 125px;
    overflow: auto;
    font-family:monospace;
    justify-content: flex-start;
}