div.event {
    outline: 3px solid #4682b4;
    display: flex;
    padding: 2px 5px 5px 5px;
    margin: 2px 15px 5px 15px;
    color: #f0f8ff;
    min-width: 175px;
    max-width: 175px;
    height: 100px;
    overflow: auto;
    font-style: italic;
}