div.task {

    background-color: #4682b4;
    margin: 25px;
    padding: 2px 5px 2px 5px;
    box-shadow: 10px 10px;
    width: 150px;
    line-height: 1.3;
}

select {
    background-color: ivory;
    color: #4682b4;
    font-weight: bold;
}

.taskEditingButtons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}