header {
  background-color:	#4682b4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f0f8ff;
  font-weight: bold;
}
h1 {
  font-size: 40px;
}
h2 {
  display: flex;
  justify-content: center;
}

.countdownTitle {
  align-items: center;
}

.topline {
  display: flex;
  flex-direction: row;
  background-color: 	#f0f8ff;
  justify-content: space-evenly;
}


.container {
  display:flex;
  justify-content: space-evenly;
  background-color: #f0f8ff;
}
.add {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addButton {
  display: flex;
  margin: 25px;
  width: 125px;
  font-size: 20px;
  border-width: 10px;
  border-color: 	#b0c4de;
  background-color: 	#778899;
}

.scroll {
  height: 600px;
  overflow: scroll;
}
