header {
  background-color:	#708090;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: navy;
  font-weight: bold;
}

.container {
  display:flex;
  background-color: grey;
}

